.items_card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 4px solid #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  align-items: center;
  height: 100%;
  width: fit-content;
  padding: 0 3px;
}

.items_card__img {
  width: 110.5px;
  height: 100px;
}

.items_card__p {
  margin-bottom: 0;
  text-transform: capitalize;
}
